@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;700&display=swap');

.toDos-holder {
    list-style: square;
}

.toDo-title {
    display: inline-block;
    font-size: 25px;
    margin: 10px 0px 10px 0px;

    font-family: 'Fira Code', monospace;
    font-weight: 300;
    
    word-break: break-all;
}

.toDo-options {
    margin-left: 35px;
    display: inline-block;
}

.far { margin: 0px 10px 0px 10px; }

.fas { margin: 0px 10px 0px 10px; }

.fa-plus { color: rgb(26, 158, 26); }
.fa-minus { color: rgb(225, 31, 31); }
.fa-pen { color: blue; }

i:hover {
    font-size: 20px;
}

.icon-disabled {
    color: #669;
    cursor: not-allowed;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.bold {
    font-weight: 700;
}


.toDo-Update {
    background: transparent;
    border: none;
    outline: none;

    font-size: 25px;
    margin: 10px 0px 10px 0px;
    font-family: 'Courier New', Courier, monospace;
}