@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.deadline {
    font-family: 'Akaya Telivigala', cursive;
    font-weight: 300;
    font-size: 20px;

    margin-left: 15px;
}

body {
    background-color: #131516;
    color: #e8e6e3;
}

.new-to-do {
    font-size: 30px;
    margin-left: 15px;
    color: #0bd0a2;
}
.new-to-do:hover {
    color: #0B91D9;
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}